body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f1ebeb;
  color: #110f0f;
  min-height: 100vh;
}

.navbar {
  background-color: #2c2c2c;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #fff;
}

.main-content {
  padding: 20px;
  margin-left: 0; 
  max-width: 800px; 
  margin-right: auto;
  margin-left: auto; 
  display: flex;
  justify-content: center; 
}

.profile-info {
  background-color: #cabebe;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%; 
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0 15px 0;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  box-sizing: border-box;
}

button {
  background-color: #d87325;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b05c1b;
}

.volver-btn {
  display: block;
  text-align: center;
  color: #e87722;
  font-weight: 600;
  text-decoration: none;
  margin-top: 20px;
}
